<?xml version="1.0" encoding="utf-8" ?>
 <configuration>
   <system.diagnostics>
     <sources>
       <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
         <listeners>
           <add type="System.Diagnostics.DefaultTraceListener" name="Default">
             <filter type="" />
           </add>
           <add name="ServiceModelMessageLoggingListener">
             <filter type="" />
           </add>
         </listeners>
       </source>
       <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
         propagateActivity="true">
         <listeners>
           <add type="System.Diagnostics.DefaultTraceListener" name="Default">
             <filter type="" />
           </add>
           <add name="ServiceModelTraceListener">
             <filter type="" />
           </add>
         </listeners>
       </source>
     </sources>
     <sharedListeners>
       <add initializeData="c:\temp\client_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
         name="ServiceModelMessageLoggingListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
         <filter type="" />
       </add>
       <add initializeData="c:\temp\client_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
         name="ServiceModelTraceListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
         <filter type="" />
       </add>
     </sharedListeners>
   </system.diagnostics>
   <system.serviceModel>
     <diagnostics>
       <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true"
         logMessagesAtTransportLevel="true" />
     </diagnostics>


     <extensions>
       <behaviorExtensions>
         <add name="consoleOutputBehavior" type="WcfServiceLibrary.MessageBehaviorExtensionElement, WcfServiceLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
       </behaviorExtensions>
     </extensions>

     <behaviors>
       <endpointBehaviors>
         <behavior name="devleapBehavior">
           <consoleOutputBehavior />
         </behavior>
       </endpointBehaviors>
     </behaviors>
     
     
     <bindings>
       <netTcpBinding>
         <binding name="DogBindingConfiguration" transferMode="Streamed">
          </binding>
      </netTcpBinding>
    </bindings>
     <client>
       <endpoint behaviorConfiguration="devleapBehavior" address="net.tcp://localhost:808/Dogs/DogPoundSecure" binding="netTcpBinding" bindingConfiguration="DogBindingConfiguration"  contract="IService1" >
         
      </endpoint>
    </client>




   </system.serviceModel>
</configuration>